<form [formGroup]="productForm">
  <clr-wizard #productWizard [clrWizardOpen]="true" clrWizardSize="lg">
    <clr-wizard-title>{{product ? 'Edit Product' : 'Add New Product'}}</clr-wizard-title>
    <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Previous</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>
    <clr-wizard-page>
      <ng-template clrPageTitle>Select Device</ng-template>
    </clr-wizard-page>
    <clr-wizard-page>
      <ng-template clrPageTitle>Basic Info</ng-template>
    </clr-wizard-page>
    <clr-wizard-page>
      <ng-template clrPageTitle>Expiration Info</ng-template>
    </clr-wizard-page>
  </clr-wizard>
</form>
